.hidden {
  display: none;
}

body {
  width: 60vw;
  height: 60vh;
  background-color: palegoldenrod;
}

.siteTitle {
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
  width: 60vw;
  height: 43px;
}

.siteImg {
  width: 60vw;
}
.siteImg img {
  width: 80%;
}

.BTN {
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
