.hidden {
  display: none;
}

body {
  margin: 0;
  background-color: palegoldenrod;
  display: flex;
  align-items: baseline;
  flex-direction: column;
}
.ttt {
  font-size: 200%;
}
@media (max-width: 400px) {
  .siteTitle {
    font-size: 60%;
  }
}

.mainSite {
  width: 50vw;
  height: 50vh;
}

.siteTitle {
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
  height: 10%;
}

.siteImg {
  background-image: url("./sample.jpeg");
  background-repeat: no-repeat;
  background-position: initial;
  background-size: 100%;
  width: 100%;
  height: 60%;
}

.BTN {
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
