.hidden {
  display: none;
}

body {
  margin: 0;
  background-color: palegoldenrod;
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

@media (min-width: 400px) {
  .ttt {
    font-size: 200%;
  }
}

.siteTitle {
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
}

.siteImg {
  background-image: url("./sample.jpeg");
  background-repeat: no-repeat;
  background-position: initial;
  background-size: 100%;
  width: 60vw;
  height: 60vh;
}

.BTN {
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
