.color0 {
  background-color: #ff7961;
  color: #cf1d10;
}

.color3 {
  background-color: #360068;
  color: #e89beb;
}
.color1 {
  background-color: #85bb5c;
  color: #3c6320;
}
.color2 {
  background-color: #5e92f3;
  color: #0d3e77;
}

.color4 {
  background-color: #ae52d4;
  color: #4b0c66;
}
.color5 {
  background-color: #fff263;
  color: #b3840e;
}
.color6 {
  background-color: #055234;
  color: #85ccb1;
}
.color7 {
  background-color: #f37cd5;
  color: #630d4d;
}
.color8 {
  background-color: #94d2f7;
  color: #00253a;
}
.color9 {
  background-color: #edb6f1;
  color: #3b033f;
}
.color10 {
  background-color: #f7d28e;
  color: #056124;
}
.color11 {
  background-color: #93f1a8;
  color: #443613;
}
.color12 {
  background-color: #c8f8c2;
  color: #094e09;
}
