<aside class="comments" role="complementary">
  <h2>Comments</h2>
  <hr/>
  <script src="https://utteranc.es/client.js"
        repo="kirkim/blog-comments-repo"
        issue-term="pathname"
        theme="boxy-light"
              crossorigin="anonymous"
        async>
</script>
</aside>
<!--"issue-term"
  1.issue-term="pathname"
  2.issue-term="url"
  3.issue-term="title"
  4.issue-term="og:title"
  5.issue-number="[ENTER ISSUE NUMBER HERE]"
  6.issue-term="[ENTER TERM HERE]"
-->
<!--"theme"
  1.github-light
  2.github-dark
  3.preferred-color-scheme
  4.github-dark-orange
  5.icy-dark
  6.dark-blue
  7.photon-dark
  8.boxy-light
 -->