body {
  height: 420px;
  background-color: ivory;
}

#A17-todo-list {
  background-image: url("https://kirkim.github.io/assets/img/js/note.png");
  background-size: 100% 30px;
}
#A17-todo-list li {
  height: 30px;
  margin-top: 0px;
  padding-left: 4%;
  margin-left: 15%;
}
#A17-todo-list li button {
  font-size: 2px;
  padding: 1px 2px;
  color: red;
}
.A17-del {
  text-decoration: line-through;
  color: red;
}
